.about ul {
  margin: 0 0 40px 0;
}

.emailLink {
  /* font-size: 2rem; */
  z-index: 999999999;
  display: inline-block;
}

@media (min-width: 1080px) {
  .about ul {
    padding: 0.6em calc(var(--padding) * 2);
  }

  .emailLink {
    font-size: 4rem;
  }


  .knowMore {
    padding: var(--padding);
  }


}
