.about {
  line-height: 1.4em;
  font-size: 1.6rem;
}

.about p{
  padding: 0.6em 20px;
  max-width: 1200px;
  margin: 0;
  /* border: 1px solid red; */
}

.about ul {
  /* border: 1px solid red; */
  /* padding: 0.6em 20px; */
  /* max-width: 1200px; */
  margin: 0 0 40px 0;
}

.emailLink{
  /* font-size: 2rem; */
  z-index: 999999999;
  display: inline-block;
}

.inPersonTribute{
  font-size: 3.5rem;
}

.virtualTribute{
  font-size: 2.2rem;
}

.about a:hover {
  text-decoration: underline;
}

.about a {
  color: red;
}



.sessions {
  
  /* font-size: 2.5rem; */
  max-width: 1080px;
  margin: auto;
    /* margin: 0 15%; */
}



/* .knowMore p {
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


.knowMore {
  padding: 20px;
} */

@media (min-width: 1080px) {
  .about {
    font-size: 2.5rem;
    
  }

  .about p {
    padding: 0.6em var(--padding);
  }

  .about ul {
    padding: 0.6em calc(var(--padding) * 2);
  }

  .emailLink{
    font-size: 4rem;
    /* z-index: 999999999; */
    /* display: inline-block; */
  }

  .inPersonTribute{
    font-size: 6rem;
  }
  
  .virtualTribute{
    font-size: 4rem;
  }

  .knowMore {
    padding: var(--padding);
  }

  .sessions {
    margin-top: 120px;
  }
}