.nav {
  mix-blend-mode: difference !important;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;

  font-family: "freight-display-pro", serif;
  font-weight: 500;
  font-style: italic;
  /* color:red; */
}

.logo {
  cursor: pointer;
  font-style: italic;
  color: white;

  font-size: 32px !important;

  padding: 20px;
}

.logo div {
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.nav.open {
  height: 100%;
  mix-blend-mode: normal !important;
  background: rgba(0,0,0,0.9);
}

.nav.closed {
  background: none;
}

.nav.open .menu {
  display: block;
} 

.menu {
  display: none;
  margin: 0;
  list-style: 0;
  padding: 0;
  align-items: center;
  font-size: 0.75em;
}



.menu li a {
  padding: var(--padding);

  color: var(--pink) !important;

  font-size: 2rem;
  line-height: 3rem;
  /* background: black; */
  /* transition: all 0.2s ease-in-out; */
  
}

.menu li a:hover {
  color: white !important;
  /* border-bottom: 2px solid black; */
}



@media (min-width: 1080px) {
  .logo {
    font-size: 28px;
  }

  .menu li a {
    padding-left: 80px;
  }
}

