:root {
  --padding: 80px;
}

@font-face {
  font-family: "e";
  src: url(../fonts/e-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'FreightDispProSemibold';
  src: url('../fonts/FreightDispProSemibold-Italic.eot');
  src: local('FreightDisp Pro Semibold Italic'), local('FreightDispProSemibold-Italic'),
      url('../fonts/FreightDispProSemibold-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProSemibold-Italic.woff2') format('woff2'),
      url('../fonts/FreightDispProSemibold-Italic.woff') format('woff'),
      url('../fonts/FreightDispProSemibold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'FreightDispProBold';
  src: url('../fonts/FreightDispProBold-Regular.eot');
  src: local('FreightDisp Pro Bold'), local('FreightDispProBold-Regular'),
      url('../fonts/FreightDispProBold-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProBold-Regular.woff2') format('woff2'),
      url('../fonts/FreightDispProBold-Regular.woff') format('woff'),
      url('../fonts/FreightDispProBold-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FreightDispProLight';
  src: url('../fonts/FreightDispProLight-Italic.eot');
  src: local('FreightDisp Pro Light Italic'), local('FreightDispProLight-Italic'),
      url('../fonts/FreightDispProLight-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProLight-Italic.woff2') format('woff2'),
      url('../fonts/FreightDispProLight-Italic.woff') format('woff'),
      url('../fonts/FreightDispProLight-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FreightDispProMedium';
  src: url('../fonts/FreightDispProMedium-Regular.eot');
  src: local('FreightDisp Pro Medium'), local('FreightDispProMedium-Regular'),
      url('../fonts/FreightDispProMedium-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProMedium-Regular.woff2') format('woff2'),
      url('../fonts/FreightDispProMedium-Regular.woff') format('woff'),
      url('../fonts/FreightDispProMedium-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FreightDispProMedium';
  src: url('../fonts/FreightDispProMedium-Italic.eot');
  src: local('FreightDisp Pro Medium Italic'), local('FreightDispProMedium-Italic'),
      url('../fonts/FreightDispProMedium-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProMedium-Italic.woff2') format('woff2'),
      url('../fonts/FreightDispProMedium-Italic.woff') format('woff'),
      url('../fonts/FreightDispProMedium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FreightDispProBlack';
  src: url('../fonts/FreightDispProBlack-Regular.eot');
  src: local('FreightDisp Pro Black'), local('FreightDispProBlack-Regular'),
      url('../fonts/FreightDispProBlack-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProBlack-Regular.woff2') format('woff2'),
      url('../fonts/FreightDispProBlack-Regular.woff') format('woff'),
      url('../fonts/FreightDispProBlack-Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FreightDispProBold';
  src: url('../fonts/FreightDispProBold-Italic.eot');
  src: local('FreightDisp Pro Bold Italic'), local('FreightDispProBold-Italic'),
      url('../fonts/FreightDispProBold-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProBold-Italic.woff2') format('woff2'),
      url('../fonts/FreightDispProBold-Italic.woff') format('woff'),
      url('../fonts/FreightDispProBold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FreightDispProBook';
  src: url('../fonts/FreightDispProBook-Italic.eot');
  src: local('FreightDisp Pro Book Italic'), local('FreightDispProBook-Italic'),
      url('../fonts/FreightDispProBook-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProBook-Italic.woff2') format('woff2'),
      url('../fonts/FreightDispProBook-Italic.woff') format('woff'),
      url('../fonts/FreightDispProBook-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FreightDispProBlack';
  src: url('../fonts/FreightDispProBlack-Italic.eot');
  src: local('FreightDisp Pro Black Italic'), local('FreightDispProBlack-Italic'),
      url('../fonts/FreightDispProBlack-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProBlack-Italic.woff2') format('woff2'),
      url('../fonts/FreightDispProBlack-Italic.woff') format('woff'),
      url('../fonts/FreightDispProBlack-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'FreightDispProSemibold';
  src: url('../fonts/FreightDispProSemibold-Regular.eot');
  src: local('FreightDisp Pro Semibold'), local('FreightDispProSemibold-Regular'),
      url('../fonts/FreightDispProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProSemibold-Regular.woff2') format('woff2'),
      url('../fonts/FreightDispProSemibold-Regular.woff') format('woff'),
      url('../fonts/FreightDispProSemibold-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FreightDispProLight';
  src: url('../fonts/FreightDispProLight-Regular.eot');
  src: local('FreightDisp Pro Light'), local('FreightDispProLight-Regular'),
      url('../fonts/FreightDispProLight-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProLight-Regular.woff2') format('woff2'),
      url('../fonts/FreightDispProLight-Regular.woff') format('woff'),
      url('../fonts/FreightDispProLight-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FreightDispProBook';
  src: url('../fonts/FreightDispProBook-Regular.eot');
  src: local('FreightDisp Pro Book'), local('FreightDispProBook-Regular'),
      url('../fonts/FreightDispProBook-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FreightDispProBook-Regular.woff2') format('woff2'),
      url('../fonts/FreightDispProBook-Regular.woff') format('woff'),
      url('../fonts/FreightDispProBook-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: "FreightDispProLight", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: black;
    color: white;
    
}

b {font-family: FreightDispProBlack;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



hr {
  /* width: 200px; */
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  /* margin: 60px auto; */
}

h4 {
  font-family: 'FreightDispProBlack';
  font-size: 4rem;
}