.nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;

  top: -80px;
  transition: top 0.4s;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
}

.menu {
  margin: 0;
  list-style: 0;
  padding: 0;

  float: right;
  align-items: center;
  font-size: 0.75em;
  
}

.menu li {
  display: inline-block;
  vertical-align: middle;
}

.menu li a {
  display: block;
  color: #000;
  
  text-decoration: underline;
  line-height: 20px;

  padding: 20px 8px;
}

.logo {
  line-height: 20px;

  padding: 20px;
  text-align: center;
  font-family: "e";
  color: #000;
  font-size: 16px;

  display: inline-block;
}

@media (min-width: 1080px) {
  .logo {
    font-size: 28px;
  }

  .menu {
    font-size: 1em;
  }

  .menu li a {
    padding: 20px;
  }
}

.protocol {
  /* color: rgba(255, 255, 255, 0.8); */
  /* text-align: center; */
  font-weight: 300;
  font-size: 1.2em;
}

.protocol table {
  width: 100%;
}

.protocol table td {
  padding: 20px;
  vertical-align: top;
}


@media (min-width: 1080px) {
  .protocol table td {
    padding: 120px;
  } 

  .protocol {
    font-size: 1.6em;
  }
}



.cta {
  /* color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  padding: 80px 20px;
}

@media (min-width: 1080px) {
  .cta {
    font-size: 1.6em;
    padding: 120px;
  }
}

.applyButton {
  font-size: inherit;
  font-weight: inherit;

  cursor: pointer;
  transition-duration: 0.1s;

  outline: none;
  border: 1px solid transparent;
  margin: 0px;

  padding: 8px 18px;
  min-height: 48px;

  background-color: rgb(214, 12, 16);

  color: rgb(255, 255, 255);
  border-radius: 4px;

  color: white !important;
  text-decoration: none;
  display: inline-block;
}

.applyButtonMenu {
  /* background-color: rgba(214, 12, 16, 0.4); */
  color: red !important;
}

.main {
  /* z-index: 97; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

@media (min-width: 1080px) {
  margin-bottom: 120px;
}

.bg {
  position: relative;
  height: 66vw;
  width: 100%;
  z-index: 1;
  /* background-image: url("../public/imgs/bg-dec-10.jpeg"); */
  background-image: url("../public/imgs/bg.jpeg");
  background-size: cover;
}

@media (min-width: 1080px) {

}

.text {
  z-index: 3;
  position: absolute;
  bottom: 10vh;
  text-align: center;
  line-height: 0;
  /* border: 1px solid black; */
  /* color: black; */
  color: white;
  /* color: red; */
  line-height: 0;
  
  transform: scale(1.232);
  mix-blend-mode: overlay;
  
}


@media (min-width: 1080px) {
  .text {
    z-index: 3;
    position: absolute;
    top: 100vh;
    text-align: center;
    color: black;
    color: rgba(255,255,255,2);
    line-height: 0;
    
    transform: scale(1.232);
    mix-blend-mode: overlay;
    
  }
}

@media (min-width: 1440px) {
  /* .text {
    background-image: linear-gradient(0deg, #500, #000);
    background-size: 100%;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  } */
}


.title {
  font-family: "e";
  margin: 0;
  line-height: 0;
  font-size: 18vw;
  font-weight: 100;
}

.pic {
  width: 100%;
  z-index: 1;
  /* margin-bottom: 40px; */
}

.cite {
  font-style: normal;
  margin: 20px;
  font-size: 1.4em;
  line-height: 1.6em;
  

  display: block;
  /* color: rgba(255, 255, 255, 0.8); */
}

@media (min-width: 1080px) {
  .cite {
    margin: 0px 200px;
    font-size: 2em;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.listNope {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  text-decoration-color: #f00;
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
}

/* .gallery {
  margin-bottom: 100px;
  column-gap: 40px;

  column-count: 3;
}

.gallery img {
  margin-bottom: 40px;
} */