.video {
  display: block;
  background-size: cover;

  margin: auto;
  width: 100%;
  height: 100%;
  
  left: 0;
  top: 0;
  object-fit: cover;
}

.protocol {
  font-weight: 300;
  font-size: 1.6rem;
}


@media (min-width: 1080px) {

  .protocol {
    font-size: 2.5rem;
    margin: 80px 20%;
  }
}

.cta {
  /* color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  padding: 80px 20px;
}

@media (min-width: 1080px) {
  .cta {
    font-size: 2.5rem;
    padding: 120px;
  }
}

.applyButton {
  /* font-size: inherit; */
  /* font-weight: inherit; */

  /* font-family: FreightDispProBlack; */
  cursor: pointer;
  transition-duration: 0.1s;

  outline: none;
  border: 1px solid transparent;
  margin: 0px;

  padding: 8px 18px;
  min-height: 48px;

  background-color: rgb(214, 12, 16);

  color: rgb(255, 255, 255);
  border-radius: 4px;

  color: white !important;
  text-decoration: none;
  display: inline-block;
}

.main {
  /* z-index: 97; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* position: relative; */
  margin-bottom: 40px;
  /* border: 10px solid red; */
}

@media (min-width: 1080px) {
  .main {
    /* margin-bottom: 0px; */
    padding: 100px;
  }
}

.mainImage {
  width: 100%;
}

@media (min-width: 1100px) {
  .mainImage {
    max-width: 1100px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 100;
  color: black;
}

.pic {
  width: 100%;
  /* z-index: 1; */
  /* filter: hue-rotate(90deg); */
  /* filter: saturate(1930%); */

  /* filter: blur(5px); */
}



.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listNope {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  text-decoration-color: #f00;
}

.anchor {
  /* display: block; */
  position: relative;
  top: -10px;
}

.footer {
  background: #000;
  /* min-height: 400px; */
  /* position: absolute;
  bottom: 0; */
  width: 100vw;
  color: white;
  padding: 40px 0 80px 0;
  text-align: center;
}

.social ul {
  list-style: none;
  padding: 0;
  margin: 0 0 180px;
  display: flex;
  /* align-items: center; */
  flex-flow: row nowrap;
  justify-content: center;
}

.social ul li {
  padding: 5px;
  /* opacity: 0 !important; */
  /* width: 120px; */
}

.vids {
  max-width: 1400px;
  margin: auto;
}

.vid {
  width: 350px;
  height: 640px;
  display: inline-block;
  padding: 10px;
}
