
.nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  padding: 20px;
  top: -80px;
  transition: top 0.4s;
}

.menu {
  float: right;
  margin: 0;
  list-style: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: #fff;
  text-decoration: underline;
  padding: 10px;
}

.logo {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  font-family: "e";
  color: white;
  font-size: 20px;
}

.cta {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 300;
  font-size: 1.6em;
  padding: 100px;
}

.applyButton {
  font-size: inherit;
  font-weight: inherit;

  cursor: pointer;
  transition-duration: 0.1s;

  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  /* box-shadow: rgb(255 0 0 / 10%) 0px 3px 12px 0px; */
  padding: 8px 18px;
  min-height: 48px;

  background-color: rgb(214, 12, 16);
  /* background-color: rgb(32, 12, 16); */
  color: rgb(255, 255, 255);
  border-radius: 4px;

  color: white !important;
}

.applyButtonMenu {
  font-size: inherit;
  font-weight: inherit;

  cursor: pointer;
  transition-duration: 0.1s;
  /* transition-property: background-color, color, border-color, opacity, box-shadow; */
  /* transition-timing-function: ease-out; */
  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  /* box-shadow: rgb(255 0 0 / 10%) 0px 3px 12px 0px; */
  padding: 2px 8px;
  margin: 8px;
  /* min-height: 48px; */

  background-color: rgb(214, 12, 16);
  /* background-color: rgb(32, 12, 16); */
  color: rgb(255, 255, 255);
  border-radius: 4px;

  color: white !important;
}

.main {
  /* z-index: 97; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.bg {
  position: relative;
  height: 1400px;
  width: 100%;
  z-index: 1;
  background-image: url("../public/imgs/bg.jpg");
  background-size: cover;
  /* border: 10px solid rgba(200,0,0,0.4); */
  /* border: 2px solid rgb(214, 12, 16); */
  /* border: 50px solid gray;
  border-left: 0;
  border-right: 0; */
}

.text {
  z-index: 3;
  position: absolute;
  top: 100px;
  text-align: center;
  color: black;
}

@media (min-width: 1440px) {
  .text {
    background-image: linear-gradient(0deg, #500, #000);
    background-size: 100%;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}



.job {
  font-family: "e";
  margin: 0;
  line-height: 1.15;
  font-size: 1.25rem;
  font-weight: 100;
  text-transform: uppercase;
}

.title {
  font-family: "e";
  margin: 0;
  line-height: 1.15;
  font-size: 18vw;
  font-weight: 100;
}

.pic {
  width: 100%;
  z-index: 1;
}

@media (min-width: 1440px) {
  .pic {
    transition: all 0.4s;
    filter: grayscale(100%);
    transform: scale(0.99);
  }

  .pic:hover {
    filter: grayscale(60%);
    transform: scale(1.04);
    z-index: 2;
  }
}

.cite {
  font-style: normal;
  font-size: 2em;
  line-height: 1.6em;
  margin: 200px;
  display: block;
  color: rgba(255, 255, 255, 0.8);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: #333;
}

.listNope {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  text-decoration-color: #f00;
}
