.simpleHeader {
  
  z-index: 20000;
}

.simpleHeader  {
  padding: 40px;
  font-family: "freight-display-pro", serif;
  font-size: 5rem;
  margin: 0;
  font-style: italic;
}


.satan {
  color: rgba(255, 255, 255, 0.05);
  font-style: normal;
}


@media (min-width: 1080px) {
  .simpleHeader  {
    padding: 100px var(--padding) 40px var(--padding);
    font-size: 6rem;
    line-height: 0;
    /* padding: 0; */
    top: 0px;
  }
}
