.simpleHeader {
  z-index: 20000;
}

.simpleHeader  {
  font-family: "freight-display-pro", serif;
  font-size: 3rem;
  font-style: italic;
  padding: calc(var(--padding) * 2) var(--padding) var(--padding) var(--padding);
  margin: 0;
}


.satan {
  color: rgba(255, 255, 255, 0.05);
  font-style: normal;
}


@media (min-width: 1080px) {
  .simpleHeader  {
    padding: 100px var(--padding) 40px var(--padding);
    font-size: 6rem;
  }
}
